<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>注册</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/comm.css') }}" />
  </head>
  <body>
    <div id="nav">
    </div>
    <div class="wrapper">
      <h1>Welcome to Bare Metal Program</h1>
      <div class="form-list">
        <div class="form-item">
          <span>Project_ID:</span>
          <input type="text" name="project_id" id="project_id" />
        </div>
        <div class="form-item">
          <span>Bucket:</span>
          <input type="text" name="bucket_name" id="bucket_name" />
        </div>
        <div class="btn">
          <button onclick="submit()">Click to Deploy</button>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
  <script>
    function submit() {
      var project_id = $("#project_id")
        .val()
        .trim();
      var bucket_name = $("#bucket_name")
        .val()
        .trim();
      $.ajax({
        url: "/install",
        type: "post",
        data: {
          project_id: project_id,
          bucket_name: bucket_name
        },
        success: function(res) {
          alert(res);
        }
      });
    }
  </script>
</html>
